.btn-template-container {
  padding: 10px 30px;
  background-color: $primary-dark;
  border-radius: 10px;
  transition: all 0.3s;
  color: $near-white;

  &:hover {
    background-color: $secondary;
    color: $black;
  }
}

.btn-template-text {
  font-family: $primary-font;
  text-transform: uppercase;
  font-weight: 600;
}

.btn-template-text-sm {
  font-family: $primary-font;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
}

.btn-template-container-sm {
  padding: 6px 15px;
  background-color: $primary-dark;
  border-radius: 10px;
  transition: all 0.3s;
  color: $near-white;
  margin: 15px;

  &:hover {
    background-color: $secondary;
    color: $black;
  }
}

.profile-btn-popup {
  position: absolute;
  width: 200px;
  display: none;
  opacity: 0;
  transition: all 0.5s;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px rgb(163, 163, 163);
  top: 45px;
  right: 5px;
  z-index: 1;
  border-radius: 5px;
}

.profile-btn-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.profile-btn {
  position: relative;
  font-size: 1rem;
  margin: 8px;
  color: $primary;
}

.profile-btn-popup-txt {
  position: relative;
  font-size: 16px;
  color: $dark-grey;
  font-family: $secondary-font;
  border-radius: 5px;
  padding: 12px 20px 12px 10px;
  padding-left: 20px;
  cursor: pointer;
  transition: background-color 0.5s;
}

.profile-btn-popup-txt:hover {
  background-color: rgb(247, 247, 247);
}

.occasion-page-delete-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  cursor: pointer;
}

.occasion-page-delete-btn {
  font-size: 0.9rem;
  background-color: $near-white;
  font-family: $secondary-font;
  font-weight: 600;
  color: rgb(214, 1, 1);
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .profile-btn-popup {
    width: 300px;
  }
}
