.email-sign-container {
  position: fixed;
  top: 80vh;
  left: 70vw;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $near-white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 7px rgba($color: #000000, $alpha: 0.3);
  h3 {
    font-size: 1rem;
    text-align: center;
  }
}

.email-container {
  padding: 10px;
  width: $container-width;
  background-color: $near-white;
  margin-top: 20px;
  @include flex-column-center;
}

.email-txt {
  text-align: justify;
  font-size: 1.2rem;
  width: 500px;
  color: $mid-grey;
  margin-top: 10px;
}

.email-icon {
  margin: 20px;
  font-size: 3rem;
  color: $primary;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .email-sign-container {
    left: 40%;
  }
}
