.gift-page-container {
  margin-top: 20px;
  padding: 10px;
  background-color: $near-white;
  width: $container-width;
  @include flex-column-center;
  justify-content: space-around;
}

.gift-page-title {
  border-radius: 20px;
  padding: 30px;
  padding-top: 10px;
  color: $mid-grey;
  text-align: center;

  h2 {
    font-size: 1.5rem;
    font-family: $secondary-font;
  }
  h1 {
    font-family: $tertiary-font;
    font-size: 5rem;
    color: $dark-grey;
    background-color: $secondary;
    padding: 10px;
    width: $container-width;
    margin-top: 20px;
    text-transform: capitalize;
  }
}

.gift-page-cards-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-gap: 20px;
  padding: 20px;
}

.single-card-container {
  width: 200px;
  height: 300px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $near-white;
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  position: relative;
  top: 0px;
  margin-bottom: 50px;
  &:hover {
    position: relative;
    top: -10px;
    background-color: white;
    border: var(--single-card-image-bg-color) 1px solid;
    box-shadow: rgb(105, 105, 105) -0px 0px 10px;
  }
}

.single-card-image {
  width: 150px;
  height: 200px;
  border: $primary 1px solid;
  margin-top: 20px;
  background-color: white;
}

.single-card-txt-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-family: $secondary-font;
  color: $dark-grey;
  margin-top: 10px;
}

.single-card-name {
  font-size: 1rem;
}
.single-card-author {
  font-size: 0.7rem;
}

.single-card-page-container {
  margin-top: 20px;
  padding: 10px;
  background-color: $near-white;
  width: $container-width;
  @include flex-column-center;
  justify-content: space-around;
}

.single-card-page-img {
  box-shadow: rgb(105, 105, 105) -0px 0px 20px;
  margin: 0px 0px 30px 0px;
  width: 300px;
}

.single-card-page-form {
  @include flex-column-center;
  label {
    font-family: $secondary-font;
    color: $mid-grey;
    margin-bottom: 5px;
  }
}

.single-card-page-input {
  margin-bottom: 10px;
  width: 300px;
  height: 100px;
  vertical-align: top;
  padding: 8px;
  font-family: $secondary-font;
}

@media only screen and (max-width: 600px) {
  .gift-page-container {
    margin-top: 20px;
    padding: 0px;
    width: $container-phone-width;
  }

  .gift-page-title {
    border-radius: 20px;
    padding: 30px;
    padding-top: 10px;
    color: $mid-grey;
    text-align: center;

    h2 {
      font-size: 1.3rem;
    }
    h1 {
      font-size: 2.5rem;
      padding: 10px;
      width: $container-phone-width;
      margin-top: 20px;
    }
  }
  .gift-page-cards-container {
    width: 100%;
    height: unset;
    @include flex-column-center;
    padding: 0px 20px;
  }

  .single-card-page-container {
    width: $container-phone-width;
    margin-bottom: 20px;
  }

  .single-card-container {
    width: 200px;
    height: 250px;
    margin: 0px;
    h5 {
      font-size: 1.5rem;
    }
    h2 {
      font-size: 1rem;
    }
  }
}
