.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 80vh;
}

.home-title {
  font-size: 7rem;
  font-family: $secondary-font;
  color: $primary;
}

.home-line {
  width: 60vw;
  height: 3px;
  background-color: $primary;
}

.home-intro-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  width: 100%;
}

.home-intro-card-container {
  height: 300px;
  width: 250px;
  @include flex-column-center;
}

.home-intro-icon {
  font-size: 3.5rem;
  color: $primary;
}

.home-intro-title {
  font-family: $secondary-font;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin: 20px;
  color: $primary-darker;
}

.home-intro-text {
  font-family: $primary-font;
  text-align: center;
  color: $primary-dark;
}

.home-log-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  width: 150px;
}

.home-log-btn {
  font-family: $secondary-font;
  font-size: 1.1rem;
  color: $primary-dark;
  transition: all 0.4s;
  &:hover {
    color: $primary-darker;
    font-size: 1.15rem;
  }
}

@media only screen and (max-width: 600px) {
  .home-container {
    height: unset;
  }
  .home-intro-container {
  }
  .home-title {
    margin-top: 20px;
    font-size: 2.5rem;
  }
  .home-intro-container {
    display: flex;
    @include flex-column-center;
    padding: 0px 30px 30px 30px;
    width: 100%;
  }
  .home-intro-card-container {
    height: unset;
    width: 100%;
    @include flex-column-center;
    margin-top: 40px;
  }

  .home-intro-icon {
    font-size: 3rem;
  }

  .home-intro-title {
    font-size: 1.2rem;
    margin: 20px;
  }
}
