.navbar {
  width: 100vw;
  height: $navbar-height;
  display: block;
}

.navbar-container {
  margin: auto;
  width: 50vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid $primary;
  padding: 0px 20px;
}

.left-navbar-container {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.logo {
  font-family: $secondary-font;
  font-size: 1.5rem;
  color: $primary;
}

.navbar-icon {
  font-size: 1.8rem;
  margin: 8px;
  color: $primary;
}

.btn-template-container {
  padding: 10px 30px;
  background-color: $primary-dark;
  border-radius: 10px;
  transition: all 0.3s;
  color: $near-white;

  &:hover {
    background-color: $secondary;
    color: $black;
  }
}

.btn-template-text {
  font-family: $primary-font;
  text-transform: uppercase;
  font-weight: 600;
}

.nav-cart-icon-container {
  height: 100%;
  position: relative;
}

.nav-cart-number {
  width: 25px;
  height: 25px;
  position: absolute;
  align-items: center;
  top: -5px;
  left: 25px;
  background-color: $primary;
  padding: 5px;
  border-radius: 50%;
  color: white;
  font-weight: 500;
  @include flex-row-center;
}
