@import "./css/variables.scss";
@import "./css/navbar.scss";
@import "./css/btnTemplate.scss";
@import "./css/home.scss";
@import "./css/auth.scss";
@import "./css/occasionHome.scss";
@import "./css/occList.scss";
@import "./css/addOcc.scss";
@import "./css/occasionPage.scss";
@import "./css/giftsPage.scss";
@import "./css/cartPage.scss";
@import "./css/scheduledPage.scss";
@import "./css/emailTest.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  outline: none;
  border: none;
  text-decoration: none;
  &:active {
    box-shadow: none;
    transform: none;
  }
  &:focus {
    border: none;
    outline: none;
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

a {
  text-decoration: none;
  color: black;
}

.main-container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
